.row .card {
    height: 26em;
    overflow: hidden;
}

table .price {
    width: 15em;
}

.card .card-body .description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
